{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if not services %}
        <!-- Display paragraph: If there are no cars yet-->
        <p class="no-articles">No services yet</p>
    {% else %}
        <!-- Display div "car" with information about every car (if any)-->
        <section id="catalogPage">
        <div class="tax-box">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Mileage</th>
                    <th scope="col">Symptoms</th>
                    <th scope="col">Root cause</th>
                    <th scope="col">Repair</th>
                    <th scope="col">Price</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for service in services %}
                    <tr>
                        <td>{{ service.date_of_service }}</td>
                        <td>{{ service.mileage }}</td>
                        <td>{{ service.symptoms }}</td>
                        <td>{{ service.root_cause }}</td>
                        <td>{{ service.repair }}</td>
                        <td>{{ service.price }} лв.</td>
                        <td>
                            <form method="post" class="form-inline" action="{% url 'delete car service' user_id=car.user_id car_slug=car.slug service_id=service.id %}">
                                <input type="image" id="iconimage" src="{% static 'images/icon-remove.jpg'%}" />
                                {% csrf_token %}
                            </form>
                        </td>
                    </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>
    {% endif %}
<a href="{% url 'details car' user_id=car.user_id car_slug=car.slug %}" class="add">Back to car</a>
<form method="post" class="form-inline" action="{% url 'add service' user_id=car.user_id car_slug=car.slug %}">
    {{ add_service_form }}
    <button type="submit">Add</button>
    {% csrf_token %}
</form>
</section>
{% endblock %}