{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!--Delete Page-->
    <section id="profileDeletePage">
        <div class="deleteWrapper">
            <div class="profileDeleteText">
                <!-- Profile Info -->
                <h1>DELETE PROFILE</h1>
                <h2>Are you sure you want to delete your profile?</h2>
            </div>
            <!-- Delete buttons -->
            <div class="actionBtn">
                <form method="post" action="{% url 'delete user' pk=object.pk %}">
                    <a href="{% url 'details user' pk=object.pk %}" class="cancel">Cancel</a>
                    <button type="submit" class="delete">Delete</button>
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">
            </div>
        </div>
    </section>
{% endblock %}