{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!--Details Page-->
    <section id="editPage">
        <div class="editWrapper">
            <div class="profileEditPage">
                <form method="post" action="{% url 'password change' pk=object.pk %}" enctype="multipart/form-data">
                    <div class="profileEditText">
                        <!-- Profile Info -->
                        <h1>Change Password</h1>
                        {{ form.as_p }}
                    </div>
                    <div class="password_change">
                <!-- Edit/Delete buttons -->
                <input type="hidden" name="next" value="{{ next }}">
                <div class="actionBtn">
                    <button type="submit" class="edit-button">Change</button>
                    <a href="{% url 'details user' pk=object.pk %}" class="edit-button">Cancel</a>
                    {% csrf_token %}
                </div>

            </div>
    </section>
{% endblock %}