{% extends 'base.html' %}
{% load static %}
{% load placeholders %}

{% block content %}
    <!--Details Page-->
    <section id="editPage">
        <div class="editWrapper">
            <div class="profileEditPage">
                {% if profile_picture %}
                    <img src= "/media/{{ profile_picture }}" alt="Profile Image">
                {% else %}
                    <img src="{% static 'images/person.png'%}" alt="Empty Profile Image">
                {% endif %}
            </div>
            <form method="post" action="{% url 'edit user' pk=object.pk %}" enctype="multipart/form-data">
                <div class="profileEditText">
                    <!-- Profile Info -->
                    <h1>EDIT PROFILE</h1>
                    {{ form.as_p }}
                </div>
                <!-- Edit/Delete buttons -->
                <input type="hidden" name="next" value="{{ next }}">
                <div class="actionBtn">
                    <button type="submit" class="edit-button">Save</button>
                    <a href="{% url 'delete user' pk=object.pk %}" class="delete-button">Delete</a>
                    <a href="{% url 'details user' pk=object.pk %}" class="edit-button">Cancel</a>
                    {% csrf_token %}
                </div>

        </div>
    </section>
{% endblock %}