{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!--Details Page-->
    <section id="detailsPage">
        <div class="detailWrapper">
            <div class="profilePage">
                {% if profile_picture %}
                    <img src= "/media/{{ profile_picture }}" alt="Profile Image">
                {% else %}
                    <img src="{% static 'images/person.png'%}" alt="Empty Profile Image">
                {% endif %}
            </div>
            <div class="profileText">
                <!-- Profile Info -->
                <h1>PROFILE DETAILS</h1>
                {% if full_name %}
                    <h2>Name: {{ full_name }}</h2>
                {% endif %}
                <h2>Email: {{ object.email }}</h2>
                <h2>Date of birth: {{ date_of_birth }}</h2>
            </div>
            <!-- Edit/Delete buttons -->
            <input type="hidden" name="next" value="{{ next }}">
            <div class="actionBtn">
                <a href="{% url 'edit user' pk=object.pk %}" class="edit-button">Edit</a>
                <a href="{% url 'password change' pk=object.pk %}" class="password">Password</a>
                <a href="{% url 'delete user' pk=object.pk %}" class="delete-button">Delete</a>
            </div>

        </div>
    </section>
{% endblock %}