{% extends 'base.html' %}
{% load static %}
{% load placeholders %}

{% block content %}
    <!-- Registration -->
    <section id="registerPage">
        <form method="post" action="{% url 'register user' %}">
            <fieldset>
                <legend>REGISTER</legend>
                {{ form.as_p }}
                <!-- Button to Create Profile -->
                <input type="hidden" name="next" value="{{ next }}">

                <button type="submit" class="register">Register</button>
                {% csrf_token %}
                <div class="second-option">
                    <p>Have an account? <a href="{% url 'login user' %}">Log in</a></p>
                </div>
            </fieldset>
        </form>
    </section>
{% endblock %}
