{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- headlines -->
    <section id="index-headline">
        <div class="index-message">
            {% if request.user.is_authenticated %}
                <h2>Welcome</h2>
                {% if full_name %}
                    <h2><span>{{ full_name }}</span></h2>
                {% endif %}
            {% else %}
                <h2>Welcome to <span>digital</span> car service book!</h2>
            {%  endif %}
        </div>
        <img src="{% static '/images/cars_index.png' %}" alt="car">
    </section>
{% endblock %}