{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <title>Digital Service Book</title>
    <link rel="icon" href="{% static '/images/icon.png'%}">
    <!-- CSS only -->
    <!-- Static Load -->
    <link rel="stylesheet" href="{% static '/css/style.css'%}"/>
    <!-- JavaScript Bundle with Popper -->
</head>

<body>
<div id="box">
    <header>
        <nav>
            <a class="index-navigation" href="{% url 'index' %}"><span>S</span>ERVICE <span>B</span>OOK</a>
            <ul>
                <!--Only for user with created profile-->
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'cars list' %}">My Cars</a></li>
                    <li><a href="{% url 'register car' %}">Create Car</a></li>
                    <li><a href="{% url 'details user' pk=request.user.pk %}">Profile</a></li>
                    <li><a href="{% url 'logout user' %}">Log Out</a></li>
                {% else %}
                    <li><a href="{% url 'login user' %}">Log In</a></li>
                    <li><a href="{% url 'register user' %}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <!-- End Navigation Bar -->

    <!-- Main Content -->
    {% block content %}
    {% endblock %}

    <!-- Footer -->
    <footer>
        <div>
            &copy;Radoslav Bukov 2022. All rights reserved.
        </div>
    </footer>
    <!-- End Footer -->
</div>
</body>
</html>