{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!--Details Page-->
    <section id="detailsPage">
        <div class="detailCarWrapper">
            <div class="carPage">
                {% if car_photo %}
                    <img src= {{ car_photo }} alt="ProfileImage">
                {% else %}
                    <img src="{% static 'images/car.png'%}" alt="Empty Profile Image">
                {% endif %}
            </div>
            <div class="profileText">
                <!-- Profile Info -->
                <h1>CAR DETAILS</h1>
                <h2>Brand: {{ car.brand }}</h2>
                <h2>Model: {{ car.model }}</h2>
                <h2>Year: {{ car.year_of_manufacture }}</h2>
                <h2>Engine: {{ car.engine }}</h2>
                <h2>Fuel: {{ car.fuel }}</h2>
            </div>
            <!-- Edit/Delete buttons -->
            <input type="hidden" name="next" value="{{ next }}">
            <div class="actionCarBtn">
                <a href="{% url 'taxes list' user_id=car.user_id car_slug=car.slug %}" class="edit-button">Taxes</a>
                <a href="{% url 'services list' user_id=car.user_id car_slug=car.slug %}" class="edit-button">Service</a>
                <a href="{% url 'edit car' user_id=car.user_id car_slug=car.slug %}" class="edit-button">Edit</a>
                <a href="{% url 'delete car' user_id=car.user_id car_slug=car.slug %}" class="delete-button">Delete</a>
            </div>
        </div>
    </section>
{% endblock %}