{% extends 'base.html' %}
{% load static %}
{% load placeholders %}

{% block content %}
    <!--Details Page-->
    <section id="editPage">
        <div class="editWrapper">
            <div class="profileEditPage">
                {% if car_photo %}
                    <img src= {{ car_photo }} alt="ProfileImage">
                {% else %}
                    <img src="{% static 'images/car.png'%}" alt="Empty Profile Image">
                {% endif %}
            </div>
            <form method="post" action="{% url 'edit car' user_id=user_id car_slug=car_slug %}" enctype="multipart/form-data">
                <div class="profileEditText">
                    <!-- Profile Info -->
                    <h1>EDIT PROFILE</h1>
                    {{ form.as_p }}
                </div>
                <!-- Edit/Delete buttons -->
                <input type="hidden" name="next" value="{{ next }}">
                <div class="actionBtn">
                    <button type="submit" class="edit-button">Save</button>
                    <a href="{% url 'details car' user_id=user_id car_slug=car_slug %}" class="edit-button">Cancel</a>
                    {% csrf_token %}
                </div>

        </div>
    </section>
{% endblock %}